@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,500,600,700&display=swap');
/*Font-specify:
font-family: 'Quicksand', sans-serif;
*/

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
}

body {
    background-color: #e0efff;
    height:100vh;
    overflow: hidden;
}

/*.page_cover {
    min-height: 100vh;
    background-size: cover !important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg_cover {
    background: url("../css/img/bg_1.jpg");

} */

.navbar {
    padding: 0;
}

.navbar-toggler {
    margin: 0.5rem;
}

.bg-light {
    background-color: #fefff2!important;
}

/*.container-fluid {
    width: 100%;
    height: 100%;
    padding: 0; /* there's something with the padding for mobile sizing at the carebear_info page
    margin: 0;
}*/
.max-height {
    height: 100%;
    padding: 0;
}

.home_icon {
    height: 35px;
    width: 55px;
    padding-left: 2px;
    padding-right: 0px;
    margin: 5px;
}

.quicksand {
    font-family: 'Quicksand', sans-serif;
}

.custom-background {
    background-image: url(./img/bg_1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

/*.bg_1 { 
    /* The image used */
    

    /* Center and scale the image nicely
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}*/

/*.bg_1 {
    width: 100%;
    height: auto;
    bottom: 0px;
    top: 0px;
    left: 0;
    /*position: fixed;
    z-index: -1;
} */

/*--- about view ---*/

.about_sizing {
    padding: 0;
    height: 100%;
}


.row_position {
    margin: 0;
    display: flex;
}

.base_logo_resize {
    width: 35%;
    margin: auto;
}

.search_input {
    width: 600px;
    height: 50px;
}

.homesearch_btn_size {
    width: 10rem;
}

.btn-secondary {
    margin-top: 20px;
    color: #fff;
    background-color: #a34fb5;
    border-color: #99b6d0;
}

.btn-secondary:hover {
    color: #fff;
    background-color: #c495ce;
    border-color: #99b6d0;
}

.btn-secondary:focus {
    color: #fff;
    background-color: #c495ce;
    border-color: #99b6d0;
    box-shadow: 0 0 0 0.2rem rgba(130,138,145,.5);
}

.btn-secondary:not(:disabled):not(.disabled):active {
    color: #fff;
    background-color: #c495ce;
    border-color: #99b6d0;
} 

.outer_div {
    width: 100%;
    height: 100%;
    display: flex;
}
.inner_div{
    margin: auto;
    text-align: center;
    background-color: rgba(254, 255, 242, 0.95);
    border-radius: 2%;
    padding: 20px;
}

.about_title-position {
    padding-bottom: 1rem;
    }


.verticalblock {
    width: 70%;
    text-align: left;
}

.filters {
    position: absolute;
    width: 100px;
    height: 50px;
    top: 15%;
    left: 50%;
    margin-left: -150px;
    margin-right: -150px;
}

.general_about {
    position: absolute;
    bottom: 3em;
    left: 20em;
    right: 20em;
}

.signUp_position {
    position: absolute;
    padding: 10em 10em;
}    

/*--- carebear_info view ---*/

.adjust_fluid {
    width: 100%;
    height: auto;
    margin: 0;
}

.ajust_row {
    display: flex;
    flex-wrap: wrap;
}

.heart_logo {
    width: 8rem;
    height: 7rem;
    margin-top: 40px;
    margin-bottom: 40px;
}

.title_intro {
    margin-top: 15px;
}

.starbuddy_logo {
    width: 5rem;
    height: 6rem;
    margin-top: 40px;
    margin-bottom: 40px;
}

.character_sizing {
    width: 250px;
    height: inherit;
    padding: 2rem;
}
.half-width {
    width: 50%;
}

.table {
    margin-bottom: 3rem;
}

.info_text_align {
    text-align: right;
}

.story_info_padding {
    padding: 2rem;
}

/*--- add_bear view ---*/

.wishBear_size {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 44%; 
    padding-bottom: .5rem;
}

.calendar_color {
    font-size: xx-large;
}

.navbar_container {
    height: 55px;
}

.homesearch_btn_size_adjust {
    width: inherit;
    color: #000;
    background-color: #fff;
    border: 1px solid #ced4da;
}

.reposition_addImage_btn {
    padding: 3px;
}

/*--- get_carebears_collection view ---*/

.padding_checkbox {
    padding-bottom: 3rem;
}

.padding_checkbox_top {
    padding-top: 3rem;
}

.show>.btn-secondary.dropdown-toggle {
    color: #fff;
    background-color: #c495ce;
    border-color: #99b6d0;
}

.database_search-btn {
    color: #fff;
    background-color: cadetblue;
    margin-top: 3rem;
}

.btn:hover {
    color: #fff;
    text-decoration: none;
}

.database_search-btn:hover {
    color: #fff;
    background-color: #91ccce;
}

@media screen and  (max-width: 1023px) {
    body {
        background-color: #e0efff;
        height: 100%;
        overflow: auto; 
    }

    .verticalblock {
        width: auto;
        text-align: left;
    }

    .custom-background_resize {
        height: 100vh;
    }

    .signUp_position {
        display: inherit;
        overflow: auto;
        padding: 0;
    } 

    .col_no-flex {
        flex-basis: auto;
    } 

    .margin_signIn {
        margin: auto;
    }

    .info_col_size {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .no_flexwrap_collection {
        flex-wrap: inherit;
    }
}


@media screen and (max-width: 767px) {
    .inner_div {
        font-size: smaller;
    }

    .search_input {
        width: 300px;
    }

    .base_logo_resize {
        width: 55%;
    }

    .justify_mobile_size {
        justify-content: space-evenly!important;

    }

    .btn-noShow {
        display: none;
    }

    .padding_mobile_resize {
        padding-right: 5px;
        padding-left: 10px;
    }
}

@media screen and (min-width: 1280px) {
    .signUp_image_position {
        height: 100vh;
        width: 100vw;
    }

}

@media screen and (min-width: 767px) {
    .select-btn-resize {
        width: 8rem;
    }
}