{% extends 'base.html' %}
{% block content %}

<div class="container-fluid">
    <div class="row row_position no-gutters">
        <img class="img-fluid" src="static/css/img/bg_1.jpg" alt="page image">
        <div class="container general_about">
            <div class="row"> <br>   
            <h2 class="text-center">About the Care Bears</h2> <br>
                <p>The Care Bears were initially created in 1981 by Those Characters From Cleveland (TCFC), the licensing division of American Greetings. Jack Chojnacki, the co-president of TCFC, introduced the first Care Bear, 
                    to businessmen from American Greeting Cards and from the toy company Kenner in February 1981. On the employees' reaction to the toy, Chojnacki recalled in early 1985: "It had a high cuteness factor."<br>
                    Artist Muriel Fahrion, who helped create Strawberry Shortcake's look, was also among the franchise's first concept artists. Working with TCFC Creative VP Ralph Shaffer, Fabrion designed the first six bears, 
                    creating greeting card themes for their belly graphics. Susan Trentel, Muriel's sister and doll designer of Strawberry Shortcake, designed the Care Bears plush. Once out of the concept stage children's book illustrator Elena Kucharik 
                    became the primary artist for the Care Bears creating hundreds of full color illustrations for cards, books and various licensed products. TCFC's team of artists and writers worked to create many characters in the line, 
                    which was a joint development by Those Characters From Cleveland and MAD (Marketing and Design Service of the toy group of General Mills).
                    American Greeting Cards kept the character program secret until advertising was ready. At the start of the franchise, Care Bears was established the project's working title.<br>
                    The characters were produced as a toyline by Parker Brothers and Kenner the following spring. On a U.S. $5-6 million advertising budget and a wholesale commitment worth U.S. 122.5 million. 
                    American Greetings introduced the characters to the general public in February 1983, with an appearance at New York City's Toy Fair; licensees were involved upon launch. Among them was General Mills, a food company which owned the board game manufacturer Parker Brothers. 
                    In early 1983, Parker Brothers released six books featuring the Care Bears as part of its publishing division's first offerings. On television, the original 10 Bears were featured in a syndicated special, Atkinson Film-Arts' The Care Bears in the Land Without Feelings; Kenner produced and sponsored it.<br>
                    In December 1983, American Greetings and CPG Products lost a lawsuit against Easter Unlimited, importers of a line known as "Message Bears". According to New York City judge Leonard B. Sand, those toys lacked the "heart-shaped 'touché tags'" used to identify the Care Bears.<br>
                    In 1984, AGC introduced a spin-off line, the Care Bear Cousins; another syndicated special, The Care Bears Battle the Freeze Machine, came out that same year. A miniseries based on the toys was distributed by Lexington Broadcast Services Company. A year later, the Care Bears and Care Bear Cousins appeared in the film The Care Bears Movie, 
                    produced by Nelvana Limited and released by The Samuel Goldwyn Company. It became the highest-grossing animated film made outside the Disney market at the time of its release. Later that autumn, DIC Audiovisuel released an 11-episode television series in syndication.<br>
                    In 1986, Nelvana returned to the franchise with a second film, Care Bears Movie II: A New Generation. Released by Columbia Pictures, the film featured a new villain, Dark Heart, and introduced more of the Care Bears and Care Bears Cousins: Harmony Bear, True Heart Bear, and Noble Heart Horse.<br>
                    Later that year, a TV series titled The Care Bears Family (also from Nelvana) premiered on the U.S. ABC network and Canada's Global. Lasting two seasons and consisting of over 70 episodes, this introduced the evil wizard No Heart and his sidekick Beastly. In the second season, No Heart's niece Shreeky was introduced.<br>
                    The Care Bears' third film, The Care Bears Adventure in Wonderland, debuted in 1987. A TV special, Care Bears Nutcracker Suite, premiered on the Disney Channel in 1988.<br>
                    Over 40 million Care Bears were sold between 1983 and 1987, and American Greetings printed over 70 million of their cards during the decade. In whole, the sales of their merchandise reached over $2 million during the 1980s.
                </p>
            </div>     
        </div>
    </div>
</div>    

{% endblock %}