{% extends 'base.html' %}
{% block content %}

<h3 class="text-center">Character Creation</h3>
<div class="container-fluid">
    <div class="row row_position no-gutters mx-auto col-md-3">
        <img class="img-fluid wishBear_size" src="{{url_for('static', filename='css/img/wishBear.png')}}" alt="page image">
    </div>
</div>
<div class="container">
    <form action="{{ url_for('insert_character') }}" method="POST" enctype="multipart/form-data">
        <div class="form-row text-center">
            <div class="form-group mx-auto col-md-4">
                <label for="character_name">Character Name</label>
                <input type="text" class="form-control text-center" id="character_name" name="character_name" placeholder="Name of Character"/>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group mx-auto col-md-4">
                <label for="residence">Add Image</label>
                <input type="file" name="image" class="form-control reposition_addImage_btn" accept='image/*'/>

            </div>
            <div class="form-group mx-auto col-md-4">
                <label for="gender">Gender</label>
                <select id="gene" class="form-control" name="gender">
                    <option selected>Choose Option...</option>
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                    <option value="Unknown">Unknown</option>
                    <option value="None">None</option>
                </select>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group mx-auto col-md-4">
                <label for="category_name">Character Category</label>
                <select id="category" class="form-control" name="category_id">
                    <option selected>Choose Option...</option>
                    {% for cat in categories %}
                        <option value="{{cat._id}}">{{cat.category_name}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group mx-auto col-md-4">
                <label for="residence">Residence(nationality)</label>
                <select id="residence" class="form-control" name="residence">
                    <option selected>Choose Option...</option>
                    <option value="Care-a-Lot">Care-a-Lot</option>
                    <option value="Aventure Beach">Adventure Beach</option>
                    <option value="Forest of Feelings">Forest of Feelings</option>
                    <option value="Earth">Earth</option>
                    <option value="Cold Heart Castle">Cold Heart Castle</option>
                    <option value="Unknown">Unknown</option>
                </select>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group mx-auto col-md-4">
                <label for="color">Main Color</label>
                <input type="text" class="form-control" id="color" name="color" placeholder="Main color of character (fur/clothes etc.)"/>
            </div>
            <div class="form-group mx-auto col-md-4">
                <label for="release_date">Release Date (YYYY/MM/DD)</label>
                    <div class="input-group date">
                        <input class="form-control" id="datepicker" name="release_date" placeholder="Original release date"/>
                    </div>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group mx-auto col-md-4">
                <label for="belly_badge">Belly Badge description</label>
                <input type="text" class="form-control" id="belly_badge" name="belly_badge" placeholder="e.g. Heart Star Crown"/>
            </div>
            <div class="form-group mx-auto col-md-4">
                <label for="voice_actor">Voice Actor/ Actress</label>
                <input type="text" class="form-control" id="voice_actor" name="voice_actor_name" placeholder="Name of original voice actor"/>
            </div>
        </div>
        
        <div class="form-group text-center">
                <label for="story">Character Story</label>
                    <textarea class="form-control" id="story" name="story" rows="4" placeholder="You can write a small story about the character in here..."></textarea>
        </div>
        <div class="form-row text-center">
            <div class="col-12">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </form>
</div>

{% endblock %}