{% extends 'base.html' %}
{% block content %}

<div class="container">    
  <div class="row justify-content-between title_intro ajust_row no-gutters">
    <div class="col-sm-1 text-center">
      <img src="{{url_for('static' , filename='css/img/heart_logo.png')}}" class="rounded heart_logo" alt="carebears logo">
    </div>
    <div class="col-sm-9 text-center"> 
      <h1>Character Information</h1>
      <h3>{{character.character_name}}</h3>
    </div>
    <div class="col-sm-1 text-center">
      <img src="{{url_for('static' , filename='css/img/starbuddies.png')}}" class="rounded starbuddy_logo" alt="carebears image">
    </div>
  </div>
</div>
<div class="container-fluid info_container_position inner_div adjust_fluid">
    
    <div class="row justify-content-between">
        {% if character.image_blob != None %}  
        <div class="col-sm-6 text-center">
            <img class="character_sizing" src="data:image;charset=utf-8;base64, {{image}}" alt="carebears image" />            
        </div>
        {% else %}
        <div class="col-sm-6 text-center">
            <img class="character_sizing" src="{{url_for('static' , filename='css/img/unknown_bear.png')}}" alt="carebears image" />            
        </div>
        {% endif %}
        <div class="col-sm-6 table-responsive-sm">
        
            <table class="table table-sm table-borderless text-left">
                <thead>
                    <tr>
                        <th scope="col" class="col_info_size1" style="width: 10%"></th>
                        <th scope="col" class="col_info_size2" style="width: 30%">Character Description</th>
                        <th scope="col" class="col_info_size3" style="width: 20%"></th>
                        <th scope="col" class="col_info_size4" style="width: 40%"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td></td>                         
                        <td scope="row">Character Name</th>
                        <td class="info_text_align">{{character.character_name}}</td>
                        <td></td>                         
                    </tr>
                    <tr>
                        <td></td>                         
                        <td scope="row">Category</th>
                        <td class="info_text_align">{{character.category_name}}</td>
                        <td></td>                         
                    </tr>
                    <tr>
                        <td></td>                         
                        <td scope="row">Main Color</th>
                        <td class="info_text_align">{{character.color}}</td>
                        <td></td>                         
                    </tr>
                    <tr>
                        <td></td>                         
                        <td scope="row">Belly Badge</th>
                        <td class="info_text_align">{{character.belly_badge}}</td>
                        <td></td>                         
                    </tr>
                    <tr>
                        <td></td>                         
                        <td scope="row">Original Gender</th>
                        <td class="info_text_align">{{character.gender}}</td>
                        <td></td>                         
                    </tr>
                    <tr>
                        <td></td>                         
                        <td scope="row">Residence</th>
                        <td class="info_text_align">{{character.residence}}</td>
                        <td></td>                         
                    </tr>
                    <tr>
                        <td></td>                         
                        <td scope="row">Release Date</th>
                        <td class="info_text_align">{{character.release_date}}</td>
                        <td></td>                         
                    </tr>
                    <tr>
                        <td></td>                         
                        <td scope="row">Voice Actor</th>
                        <td class="info_text_align">{{character.voice_actor_name}}</td>
                        <td></td>                         
                    </tr>
                </tbody>
            </table>        
        </div>
    </div>
    <div class="row content">
        <div class="col-sm-6 text-center half-width">
            <a href="{{url_for('edit_character', character_id=character._id)}}" class="btn btn-warning">Edit Character</a>
        </div>   
        <div class="col-sm-4 text-center half-width">
            <a href="{{url_for('delete_character', character_id=character._id)}}" class="btn btn-warning">Delete Character</a>
        </div>
        <div class="col-sm-2 text-center half-width">
        </div>   
    </div>
    <div class="row justify-content-center">
        
        <div class="col-sm-8 text-left info_position story_info_padding"> 
            <p>{{character.story}}
            </p>
        </div>
        
    </div>
</div>

{% endblock %}