{% extends 'base.html' %}
{% block content %}
        
    <div class="container-fluid max-height">
    <div class="custom-background custom-background_resize outer_div">
            <div class="container inner_div padding_checkbox">
                <div class="row">
                    <img src="static/css/img/care-bears-base.png" class="img-fluid base_logo_resize" alt="carebears image">
                </div>
                <div class="row justify-content-between no_flexwrap_collection justify_mobile_size">
                    <div class="col-sm-4 text-center half-width padding_mobile_resize">
                        <button type="button checkbox" class="btn btn-secondary dropdown-toggle select-btn-resize" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Color
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="#" class="small" data-value="option1" tabIndex="-1"><input type="checkbox"/>&nbsp;Rose</a></li>
                            <li><a href="#" class="small" data-value="option2" tabIndex="-1"><input type="checkbox"/>&nbsp;Pink</a></li>
                            <li><a href="#" class="small" data-value="option3" tabIndex="-1"><input type="checkbox"/>&nbsp;Yellow</a></li>
                            <li><a href="#" class="small" data-value="option4" tabIndex="-1"><input type="checkbox"/>&nbsp;Green</a></li>
                            <li><a href="#" class="small" data-value="option5" tabIndex="-1"><input type="checkbox"/>&nbsp;Peach</a></li>
                            <li><a href="#" class="small" data-value="option6" tabIndex="-1"><input type="checkbox"/>&nbsp;Aqua</a></li>
                            <li><a href="#" class="small" data-value="option7" tabIndex="-1"><input type="checkbox"/>&nbsp;Lilac</a></li>
                            <li><a href="#" class="small" data-value="option8" tabIndex="-1"><input type="checkbox"/>&nbsp;Brown</a></li>
                            <li><a href="#" class="small" data-value="option9" tabIndex="-1"><input type="checkbox"/>&nbsp;Blue</a></li>
                        </ul>
                        </div>
                        <div class="col-sm-4 text-center half-width padding_mobile_resize">
                        <button type="button checkbox" class="btn btn-secondary dropdown-toggle select-btn-resize" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Category
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="#" class="small" data-value="option1" tabIndex="-1"><input type="checkbox"/>&nbsp;Care Bear</a></li>
                            <li><a href="#" class="small" data-value="option2" tabIndex="-1"><input type="checkbox"/>&nbsp;Care Bear Cousin</a></li>
                            <li><a href="#" class="small" data-value="option3" tabIndex="-1"><input type="checkbox"/>&nbsp;Villain</a></li>
                            <li><a href="#" class="small" data-value="option4" tabIndex="-1"><input type="checkbox"/>&nbsp;Companion</a></li>
                        </ul>
                        </div>
                        <div class="col-sm-4 text-center half-width padding_mobile_resize">
                        <button type="button checkbox" class="btn btn-secondary dropdown-toggle select-btn-resize" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Belly Badge
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="#" class="small" data-value="option1" tabIndex="-1"><input type="checkbox"/>&nbsp;Heart</a></li>
                            <li><a href="#" class="small" data-value="option2" tabIndex="-1"><input type="checkbox"/>&nbsp;Sun</a></li>
                            <li><a href="#" class="small" data-value="option3" tabIndex="-1"><input type="checkbox"/>&nbsp;Moon</a></li>
                            <li><a href="#" class="small" data-value="option4" tabIndex="-1"><input type="checkbox"/>&nbsp;Star</a></li>
                            <li><a href="#" class="small" data-value="option5" tabIndex="-1"><input type="checkbox"/>&nbsp;Flower</a></li>
                            <li><a href="#" class="small" data-value="option6" tabIndex="-1"><input type="checkbox"/>&nbsp;Rainbow</a></li>
                        </ul> 
                    </div>
                </div>
                <div class="row justify-content-between no_flexwrap_collection justify_mobile_size padding_checkbox_top btn-noShow">
                    <div class="col-sm-4 text-center half-width">
                        <button type="button checkbox" class="btn btn-secondary dropdown-toggle select-btn-resize" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Gender
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="#" class="small" data-value="option1" tabIndex="-1"><input type="checkbox"/>&nbsp;Male</a></li>
                            <li><a href="#" class="small" data-value="option2" tabIndex="-1"><input type="checkbox"/>&nbsp;Female</a></li>
                            <li><a href="#" class="small" data-value="option3" tabIndex="-1"><input type="checkbox"/>&nbsp;Unknown</a></li>
                            <li><a href="#" class="small" data-value="option4" tabIndex="-1"><input type="checkbox"/>&nbsp;None</a></li>
                        </ul>
                        </div>
                        <div class="col-sm-4 text-center half-width">
                        <button type="button checkbox" class="btn btn-secondary dropdown-toggle select-btn-resize" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Residence
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="#" class="small" data-value="option1" tabIndex="-1"><input type="checkbox"/>&nbsp;Care-a-Lot</a></li>
                            <li><a href="#" class="small" data-value="option2" tabIndex="-1"><input type="checkbox"/>&nbsp;Forest of Feeling</a></li>
                            <li><a href="#" class="small" data-value="option3" tabIndex="-1"><input type="checkbox"/>&nbsp;Earth</a></li>
                            <li><a href="#" class="small" data-value="option4" tabIndex="-1"><input type="checkbox"/>&nbsp;Adventure Beach</a></li>
                            <li><a href="#" class="small" data-value="option5" tabIndex="-1"><input type="checkbox"/>&nbsp;Option 5</a></li>
                            <li><a href="#" class="small" data-value="option6" tabIndex="-1"><input type="checkbox"/>&nbsp;Option 6</a></li>
                        </ul>
                        </div>
                        <div class="col-sm-4 text-center half-width">
                        <button type="button checkbox" class="btn btn-secondary dropdown-toggle select-btn-resize" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Release Date
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="#" class="small" data-value="option1" tabIndex="-1"><input type="checkbox"/>&nbsp;1982</a></li>
                            <li><a href="#" class="small" data-value="option2" tabIndex="-1"><input type="checkbox"/>&nbsp;1991</a></li>
                            <li><a href="#" class="small" data-value="option3" tabIndex="-1"><input type="checkbox"/>&nbsp;2002</a></li>
                            <li><a href="#" class="small" data-value="option4" tabIndex="-1"><input type="checkbox"/>&nbsp;2007</a></li>
                            <li><a href="#" class="small" data-value="option5" tabIndex="-1"><input type="checkbox"/>&nbsp;2012</a></li>
                            <li><a href="#" class="small" data-value="option6" tabIndex="-1"><input type="checkbox"/>&nbsp;2019</a></li>
                        </ul> 
                    </div>
                </div>
                <button type="button" class="btn database_search-btn homesearch_btn_size">Search</button>
            </div>
    </div>
    </div>    
{% endblock %}