{% extends 'base.html' %}
{% block content %}

<div class="container">    
  <div class="row justify-content-between title_intro ajust_row no-gutters">
    <div class="col-sm-1 text-center">
      <img src="static/css/img/heart_logo.png" class="rounded heart_logo" alt="carebears logo">
    </div>
    <div class="col-sm-9 text-center"> 
      <h1>Character Information</h1>
      <h3>Name Character</h3>
    </div>
    <div class="col-sm-1 text-center">
      <img src="static/css/img/starbuddies.png" class="rounded starbuddy_logo" alt="carebears image">
    </div>
  </div>
</div>
<div class="container-fluid info_container_position inner_div adjust_fluid">
    
    <div class="row justify-content-between">    
        <div class="col-sm-6 text-center">
            <img class="character_sizing" src="static/css/img/funshine.jpg" class="rounded heart_logo" alt="carebears image" />            
        </div>
        <div class="col-sm-6 table-responsive-sm">
            <table class="table table-sm table-borderless text-left">
                <thead>
                    <tr>
                        <th scope="col" style="width: 10%"></th>
                        <th scope="col" style="width: 30%">Character Description</th>
                        <th scope="col" style="width: 20%"></th>
                        <th scope="col" style="width: 40%"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td></td>                         
                        <td scope="row">Character Name</th>
                        <td class="info_text_align">Blep</td>
                        <td></td>                         
                    </tr>
                    <tr>
                        <td></td>                         
                        <td scope="row">Category</th>
                        <td class="info_text_align">Blep</td>
                        <td></td>                         
                    </tr>
                    <tr>
                        <td></td>                         
                        <td scope="row">Main Color</th>
                        <td class="info_text_align">Blep</td>
                        <td></td>                         
                    </tr>
                    <tr>
                        <td></td>                         
                        <td scope="row">Belly Badge</th>
                        <td class="info_text_align">Blep</td>
                        <td></td>                         
                    </tr>
                    <tr>
                        <td></td>                         
                        <td scope="row">Original Gender</th>
                        <td class="info_text_align">Blep</td>
                        <td></td>                         
                    </tr>
                    <tr>
                        <td></td>                         
                        <td scope="row">Residence</th>
                        <td class="info_text_align">Blep</td>
                        <td></td>                         
                    </tr>
                    <tr>
                        <td></td>                         
                        <td scope="row">Release Date</th>
                        <td class="info_text_align">Blep</td>
                        <td></td>                         
                    </tr>
                    <tr>
                        <td></td>                         
                        <td scope="row">Voice Actor</th>
                        <td class="info_text_align">Blep</td>
                        <td></td>                         
                    </tr>
                </tbody>
            </table>        
        </div>
    </div>
    <div class="row content">
        <div class="col-sm-6 text-center half-width">
            <button type="button" class="btn btn-warning">Edit Character</button>
        </div>   
        <div class="col-sm-4 text-center half-width">
            <button type="button" class="btn btn-warning">Delete Character</button>
        </div>
        <div class="col-sm-2 text-center half-width">
        </div>   
    </div>
    <div class="row justify-content-center">
        
        <div class="col-sm-8 text-left info_position story_info_padding"> 
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            </p>
        </div>
        
    </div>
</div>

{% endblock %}