{% extends 'base.html' %}
{% block content %}

<h3 class="text-center">Edit Character</h3>
<div class="container-fluid">
    <div class="row row_position no-gutters mx-auto col-md-3">
        <img class="img-fluid wishBear_size" src="{{url_for('static', filename='css/img/wishBear.png')}}" alt="page image">
    </div>
</div>
<div class="container">
    <form action="{{ url_for('update_character', character_id=carebears._id) }}" method="POST" enctype="multipart/form-data">
        <div class="form-row text-center">
            <div class="form-group mx-auto col-md-4">
                <label for="character_name">Character Name</label>
                <input type="text" class="form-control text-center" id="character_name" name="character_name" placeholder="Name of Character" value="{{carebears.character_name}}" />
            </div>
        </div>
        <div class="form-row">
            {% if carebears.image_blob == None %}
            <div class="form-group mx-auto col-md-4">
                <label for="residence">Add Image</label>
                <input type="file" name="image" class="form-control reposition_addImage_btn" accept='image/*'/>
            </div>
            {% endif %}
            <div class="form-group mx-auto col-md-4">
                <label for="gender">Gender</label>
                <select id="gender" class="form-control" name="gender">
                    {% if carebears.gender == None %}                    
                        <option value="Invalid" selected>Choose Option...</option>
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                        <option value="Unknown">Unknown</option>
                    {% elif carebears.gender == "Male" %}
                        <option value="Invalid" disabled>Choose Option...</option>
                        <option value="Male" selected>Male</option>
                        <option value="Female">Female</option>
                        <option value="Unknown">Unknown</option>
                    {% elif carebears.gender == "Female" %}
                        <option value="Invalid" disabled>Choose Option...</option>
                        <option value="Male">Male</option>
                        <option value="Female" selected>Female</option>
                        <option value="Unknown">Unknown</option>
                    {% elif carebears.gender == "Unknown" %}
                        <option value="Invalid" disabled>Choose Option...</option>
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                        <option value="Unknown" selected>Unknown</option>
                    {% endif %}
                </select>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group mx-auto col-md-4">
                <label for="category_name">Character Category</label>
                <select id="category" class="form-control" name="category_id">
                    {% if carebears.category_id == None %}
                        <option value="" selected>Choose Option...</option>
                    {% else %}
                        <option value="">Choose Option...</option>
                    {% endif %}
                    {% for cat in categories %}
                        {% if cat._id == carebears.category_id %}
                        <option value="{{cat._id}}" selected>{{cat.category_name}}</option>
                        {% else %}
                        <option value="{{cat._id}}">{{cat.category_name}}</option>
                        {% endif %}
                    {% endfor %}
                    
                </select>
            </div>
            <div class="form-group mx-auto col-md-4">
                <label for="residence">Residence(nationality)</label>
                <select id="residence" class="form-control" name="residence">
                    {% if carebears.residence == None %}
                        <option value="Invalid" selected>Choose Option...</option>
                        <option value="Care-a-Lot">Care-a-Lot</option>
                        <option value="Adventure Beach">Adventure Beach</option>
                        <option value="Forest of Feelings">Forest of Feelings</option>
                        <option value="Earth">Earth</option>
                        <option value="Cold Heart Castle">Cold Heart Castle</option>
                        <option value="Unknown">Unknown</option>
                    {% elif carebears.residence == "Care-a-Lot" %}    
                        <option value="Invalid" disabled>Choose Option...</option>
                        <option value="Care-a-Lot" selected>Care-a-Lot</option>
                        <option value="Adventure Beach">Adventure Beach</option>
                        <option value="Forest of Feelings">Forest of Feelings</option>
                        <option value="Earth">Earth</option>
                        <option value="Cold Heart Castle">Cold Heart Castle</option>
                        <option value="Unknown">Unknown</option>
                    {% elif carebears.residence == "Adventure Beach" %}
                        <option value="Invalid" disabled>Choose Option...</option>
                        <option value="Care-a-Lot">Care-a-Lot</option>
                        <option value="Adventure Beach" selected>Adventure Beach</option>
                        <option value="Forest of Feelings">Forest of Feelings</option>
                        <option value="Earth">Earth</option>
                        <option value="Cold Heart Castle">Cold Heart Castle</option>
                        <option value="Unknown">Unknown</option>
                    {% elif carebears.residence == "Forest of Feelings" %}
                        <option value="Invalid" disabled>Choose Option...</option>
                        <option value="Care-a-Lot">Care-a-Lot</option>
                        <option value="Adventure Beach">Adventure Beach</option>
                        <option value="Forest of Feelings" selected>Forest of Feelings</option>
                        <option value="Earth">Earth</option>
                        <option value="Cold Heart Castle">Cold Heart Castle</option>
                        <option value="Unknown">Unknown</option>
                    {% elif carebears.residence == "Earth" %}
                        <option value="Invalid" disabled>Choose Option...</option>
                        <option value="Care-a-Lot">Care-a-Lot</option>
                        <option value="Adventure Beach">Adventure Beach</option>
                        <option value="Forest of Feelings">Forest of Feelings</option>
                        <option value="Earth" selected>Earth</option>
                        <option value="Cold Heart Castle">Cold Heart Castle</option>
                        <option value="Unknown">Unknown</option>
                    {% elif carebears.residence == "Cold Heart Castle" %}
                        <option value="Invalid" disabled>Choose Option...</option>
                        <option value="Care-a-Lot">Care-a-Lot</option>
                        <option value="Adventure Beach">Adventure Beach</option>
                        <option value="Forest of Feelings">Forest of Feelings</option>
                        <option value="Earth">Earth</option>
                        <option value="Cold Heart Castle" selected>Cold Heart Castle</option>
                        <option value="Unknown">Unknown</option>    
                    {% elif carebears.residence == "Unknown" %}
                        <option value="Invalid" disabled>Choose Option...</option>
                        <option value="Care-a-Lot">Care-a-Lot</option>
                        <option value="Adventure Beach">Adventure Beach</option>
                        <option value="Forest of Feelings">Forest of Feelings</option>
                        <option value="Earth">Earth</option>
                        <option value="Cold Heart Castle">Cold Heart Castle</option>
                        <option value="Unknown" selected>Unknown</option>
                    {% endif %}
                </select>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group mx-auto col-md-4">
                <label for="color">Main Color</label>
                <input type="text" class="form-control" id="color" name="color" placeholder="Main color of character (fur/clothes etc.)" value="{{carebears.color}}">
            </div>
            <div class="form-group mx-auto col-md-4">
                <label for="release_date">Release Date (YYYY/MM/DD)</label>
                    <div class="input-group date">
                        <input class="form-control" id="datepicker" name="release_date" placeholder="Original release date" value="{{carebears.release_date}}">
                    </div>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group mx-auto col-md-4">
                <label for="belly_badge">Belly Badge description</label>
                <input type="text" class="form-control" id="belly_badge" name="belly_badge" placeholder="e.g. Heart Star Crown" value="{{carebears.belly_badge}}"> 
            </div>
            <div class="form-group mx-auto col-md-4">
                <label for="voice_actor">Voice Actor/ Actress</label>
                <input type="text" class="form-control" id="voice_actor" name="voice_actor_name" placeholder="Name of original voice actor" value="{{voice_actor.voice_actor}}">
            </div>
        </div>
        
        <div class="form-group text-center">
                <label for="story">Character Story</label>
                <textarea class="form-control" id="story" name="story" rows="4" placeholder="You can write a small story about the character in here...">{{carebears.story}}</textarea>
        </div>
        <div class="form-row text-center">
            <div class="col-12">
                <button type="submit" class="btn btn-primary">Edit Character</button>
            </div>
        </div>
    </form>
</div>

{% endblock %}