


{% extends 'base.html' %}
{% block content %}
<div class="page_cover bg_cover">
<div class="container-fluid">
    <div class="row row_position no-gutters">
        <div class="">
            <img class="img-fluid" src="static/css/img/bg_1.jpg" alt="page image">
        </div>
    <div class="search_field">
        <input type="text" placeholder="Enter keyword (e.g. yellow, moon, companion or a name)" name="search"> 
        <button type="submit">Search</button>
    </div>
    </div>  
</div>
</div>     
{% endblock %}

