{% extends 'base.html' %}
{% block content %}


<div class="container-fluid no-gutters max-height">
    <div class="row row_position">
        <img class="img-fluid signUp_image_position" src="static/css/img/register2.jpg" alt="page image">
        <div class="container-fluid signUp_position">
            <div class="row justify-content-center margin_signIn">
                <div class="col-12 col-md-8 col-lg-8 col-xl-6 inner_div">
                    <div class="row">
                        <div class="col text-center">
                        <h1>Log In</h1>
                        <h5>To log in, please use your username and password.<h5>
                        </div>
                    </div>
                <div class="row align-items-center">
                    <div class="col mx-3 my-3">
                    <input type="text" class="form-control" placeholder="Enter your username">
                    </div>
                </div>
                <div class="row align-items-center">
                    <div class="col mx-3 my-3">
                    <input type="email" class="form-control" placeholder="Please enter your password">
                    </div>
                </div>
                <div class="row justify-content-start mt-2">
                    <div class="col mx-4 my-2 text-center">
                        <button class="btn btn-secondary homesearch_btn_size">Log In</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}