{% extends 'base.html' %}
{% block content %}


<div class="container-fluid no-gutters bg_1">
    <div class="row row_position">
        <img class="img-fluid" src="static/css/img/register.jpg" alt="page image">
        <div class="container-fluid signUp_position">
            <div class="row justify-content-center">
                <div class="col-12 col-md-8 col-lg-8 col-xl-6">
                <div class="row">
                    <div class="col text-center">
                    <h1>Log In</h1>
                    <h5>To log in, please use your username and password.<h5>
                    </div>
                </div>
                <div class="row align-items-center">
                    <div class="col mx-4 my-4">
                    <input type="text" class="form-control" placeholder="Enter your username">
                    </div>
                </div>
                <div class="row align-items-center">
                    <div class="col mx-4 my-4">
                    <input type="email" class="form-control" placeholder="Please enter your password">
                    </div>
                </div>
                <div class="row justify-content-start mt-2">
                    <div class="col mx-4 my-4 text-center">
                    <button class="btn btn-primary mt-2">Log In</button>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}