{% extends 'base.html' %}
{% block content %}


<div class="container-fluid no-gutters max-height">
    <div class="row row_position">
        <img class="img-fluid signUp_image_position" src="static/css/img/register2.jpg" alt="page image">
        <div class="container-fluid signUp_position">
            <div class="row justify-content-center">
                <div class="col-12 col-md-8 col-lg-8 col-xl-6 inner_div">
                    <div class="row">
                        <div class="col text-center">
                        <h1>Register</h1>
                        <h5>To add new characters to the database, please register by filling in the requested information below.<h5>
                        </div>
                    </div>
                <div class="row align-items-center">
                    <div class="col mx-3 my-3">
                    <input type="text" class="form-control" placeholder="Enter your desired name">
                    </div>
                </div>
                <div class="row align-items-center">
                    <div class="col mx-3 my-3">
                    <input type="email" class="form-control" placeholder="Please enter your email address">
                    </div>
                </div>
                <div class="row align-items-center">
                    <div class="col mx-3 my-3 col_no-flex">
                    <input type="password" class="form-control" placeholder="Your Password">
                    </div>
                    <div class="col mx-3 my-3 col_no-flex">
                    <input type="password" class="form-control" placeholder="Confirm your Password">
                    </div>
                </div>
                <div class="row justify-content-start mt-4">
                    <div class="col">
                    <div class="form-check">
                        <label class="form-check-label">
                        <input type="checkbox" class="form-check-input">
                        I Read and Accept all <a href="">Terms and Conditions</a>
                        </label>
                    </div>
                        <button class="btn btn-secondary homesearch_btn_size">Register</button>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}